
/* 定义keyframe动画，命名为blink */

@keyframes blink{

0%{opacity: 1;}
0%{transform: rotate(25deg);}


50%{opacity: 0;}
50%{transform: rotate(15deg);}

100%{opacity: 1;}
100%{transform: rotate(25deg);}
}

/* 添加兼容性前缀 */

@-webkit-keyframes blink {
0%{opacity: 1;}
0%{transform: rotate(25deg);}

50%{opacity: 0;}
50%{transform: rotate(15deg);}

100%{opacity: 1;}
100%{transform: rotate(25deg);}

}

@-moz-keyframes blink {
0%{opacity: 1;}
0%{transform: rotate(25deg);}

50%{opacity: 0;}
50%{transform: rotate(15deg);}

100%{opacity: 1;}
100%{transform: rotate(25deg);}

}

@-ms-keyframes blink {
0%{opacity: 1;}
0%{transform: rotate(25deg);}

50%{opacity: 0;}
50%{transform: rotate(15deg);}

100%{opacity: 1;}
100%{transform: rotate(25deg);}

}

@-o-keyframes blink {
0%{opacity: 1;}
0%{transform: rotate(25deg);}

50%{opacity: 0;}
50%{transform: rotate(15deg);}

100%{opacity: 1;}
100%{transform: rotate(25deg);}

}

/* 定义blink类*/

.blink{
color: yellow;
white-space:nowrap;
position:absolute;
right:33vw;
top:-2vh;
z-index:99999;
animation:blink 2s ease infinite;

/* 其它浏览器兼容性前缀 */

-webkit-animation: blink 2s ease infinite;

-moz-animation: blink 2s ease infinite;

-ms-animation: blink 2s ease infinite;

-o-animation: blink 2s ease infinite;

}