.load_bg{
	margin: 0vh auto;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	position:fixed;
	top:0vh;
	width:100vw;
	height:100vh;
	background:#fff;
	z-index:1000;
}
.loading .progress_bar{
	width:300px;
	height:10px;
	background:#d0d0d0;
	border-radius:20px;
	overflow: hidden;
	text-align: right;
	z-index:1000;
}
.loading .progress_bar .progress_bar2{
	height:10px;
	width:25px;
	/*background:#06e5ff;*/
	/*background-image: linear-gradient(90deg, #00d1ea 0, #06e5ff 50%, #00d1ea);*/
	background-image: linear-gradient(90deg, #fec23e 0, #ff6421 50%, #fec23e);
	border-radius:20px;
	transform:translateX(-25px);
	animation:loading_progress_bar 2s linear infinite;
	z-index:1000;

}
@keyframes loading_progress_bar{
	0%{transform:translateX(-25px);}
	50%{
		transform:translateX(300px);
		width:150px;
	}
	51%{
		transform:translateY(-200px);
	}
	52%{
		transform:translateY(200px);
		transform:translateX(-200px);
	}
	100%{
		transform:translateX(300px);
		width:25px;
	}
}

@keyframes load3{
	0%{
		transform: rotate(0deg);
		filter: hue-rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
		filter: hue-rotate(360deg);
	}
}
@keyframes load4{
	0%{
		opacity:0;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@keyframes load_logo{

0%{opacity: 0.1;}

50%{opacity: 1;}

100%{opacity: 0.1;}

}
.loading .sfm_logo{
    animation:load_logo 2s linear infinite;
	margin:0px 0px 20px 0px;
}
.loading{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}