*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	display:fles;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
a{
	text-decoration:none;
	target:_blank;
	color:#777;
}
a:hover{
	color:#ff6421;
	}
.head{
	top:0;
	width:100%;
	height:40px;
	background:#fff;
	position:fixed;
	z-index:100;
	display:flex;
	animation:head_load 1s ease 1;
}
.head_2{
	position:fixed;
	width:100%;
	height:40px;
	top:1px;
	background:#777;
	z-index:-100;
	filter:blur(5px);
	z-index:100;
	animation:head_load 1s ease 1;
}
.head .logo{
	width:30px;
	height:30px;
	top:5px;
	position:relative;
}
.head .img_logo{
	width:80px;
	height:40px;
	top:0px;
	left:0px;
	position:relative;
	text-align:center;
}
@keyframes head_load{
	0%{transform:translateX(100vw);}
	100%{transform:translateX(0vw);}
}
.head_00{
	top:0;
	width:100%;
	height:40px;
	background:#fff;
	position:fixed;
	left:100vw;
}
.head_02{
	position:fixed;
	width:100%;
	height:40px;
	top:1px;
	background:#777;
	z-index:-100;
	filter:blur(5px);
	left:100vw;
}
.head_00 .logo{
	width:30px;
	top:5px;
	left:20px;
	position:relative;
}
.buttons{
	display:flex;
	flex-direction:row-reverse;
	height:40px;
	width:180px;
	right:0;
	position:absolute;
	animation:load4 2s ease 1;
}
.buttons .language{
	width:80px;
	display:block;
}
.buttons .language .l0{
	width:80px;
	height:40px;
	z-index:10;
	z-index:10;
}
.buttons .language .text{
	text-align:center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.buttons .null{
	width:20px;
	height:40px;
}
.zh_cn{
	width:80px;
	height:39px;
	background:#fff;
	display:none;
}
.en_us{
	width:80px;
	height:39px;
	background:#fff;
	display:none;
	border-radius:0px 0px 5px 5px;
}
.buttons .language:hover >.zh_cn{
	display:block;
}
.buttons .language:hover >.en_us{
	display:block;
}
.buttons .language:hover >.l1{
	display:block;
}
.buttons .language .l1{
	width:80px;
	height:1px;
	background-image: linear-gradient(90deg, #fff 0, #d4d4d4 40%, #d4d4d4 60%, #fff);
	display:none;
}
.buttons .list{
	width:80px;
	display:block;
}
.buttons .list .l0{
	width:80px;
	height:40px;
	z-index:10;
}
.buttons .list .text{
	text-align:center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.ccwiki{
	width:80px;
	height:39px;
	background:#fff;
	display:none;
}
.gywm{
	width:80px;
	height:39px;
	background:#fff;
	display:none;
	border-radius:0px 0px 5px 5px;
}
.buttons .list .l1{
	width:80px;
	height:1px;
	background-image: linear-gradient(90deg, #fff 0, #d4d4d4 40%, #d4d4d4 60%, #fff);
	display:none;
}
.buttons .list:hover >.ccwiki{
	display:block;
}
.buttons .list:hover >.gywm{
	display:block;
}
.buttons .list:hover >.l1{
	display:block;
}
.image1{
	position:relative;
	top:40px;
	width:100%;
}
.g1{
	position:relative;
	top:80px;
	width:100%;
	height:800px;
	display:flex;
	justify-content:center;
}
.g1 .card1{
	width:280px;
	height:350px;
	background:#fff;
	border-radius:10px;
}
.g1 .card1 .box_shadow{
	width:280px;
	height:350px;
	border-radius:10px;
	box-shadow: 0 0 10px #ff6421;
}
.g1 .card1 .title1{
	transform:translateY(20px);
	width:280px;
	height:50px;
	font-size:40px;
	text-align:center;
	color:#ff6421;
}
.g1 .card1 .text1{
	transform:translateY(40px);
	font-size:20px;
	text-align:center;
	color:#ff6421;
}

.bottom0{
	position:relative;
	bottom:0px;
	width:100%;
	height:300px;
	background:#eff1f3;
	display:flex;
}
.bottom0_text1{
	width:20%;
	left:10vw;
	z-index:1;
	top:40px;
	color:#777;
}
.bottom0_text2{
	transform:translateX(20px);
	width:20%;
	z-index:1;
	color:#777;
}
.bottom0_text3{
	display:block;
	z-index:1;
	bottom:5px;
	color:#777;
	right:50vw;
	position:absolute;
	transform:translateX(50%);
}
.l2{
	transform:translateX(1px);
	width:1px;
	height:230px;
	background-image: linear-gradient(0deg, #eff1f3 0, #d4d4d4 20%, #d4d4d4 80%, #eff1f3);

}
.bottom0_sfm1{
	left:60%;
	z-index:1;
	top:40px;
	color:#777;
}
.bottom0_sfm2{
	left:70%;
	z-index:1;
	top:40px;
	color:#777;
}
.bottom0_sfm3{
	left:79%;
	z-index:1;
	top:40px;
	color:#777;
}